<div id="tableContainer">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.dateOfBirth }}</td>
        <td><button (click)="editStudent(student.id)">edit</button></td>
        <td><a href="students" (click)="deleteStudent(student.id)">delete</a></td>
      </tr>
    </tbody>
  </table>

</div>
<div>
  <button class="btn btn-primary me-3" type="button" (click)="showAdd()">Add</button>
</div>

<form *ngIf="isAddVisible" #studentForm="ngForm" (ngSubmit)="onSubmit()">
  <h2>Student</h2>
  <br>

  <div class="mb-3 form-floating element-size">
    <input type="text" class="form-control w-50" name="studentName" [(ngModel)]="student.name" placeholder="name">
    <label>Name</label>
  </div>
  <div class="mb-3 form-floating element-size">
    <input type="date" class="form-control w-50" name="studentDOB" [(ngModel)]="student.dateOfBirth"
      placeholder="Date Of Birth">
    <label>Age</label>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-primary me-3" type="submit">Save</button>
    <button class="btn btn-primary me-3" type="button" (click)="hideAdd()">Cancel</button>
  </div>

</form>

<div class="container editBox">

  <div *ngIf="isEditVisible" class="editContainer">
    <div class="mb-3 form-floating element-size">
      <input type="text" class="form-control w-50" name="studentName" [(ngModel)]="editedStudent.name"
        placeholder="name">
      <label>Name</label>
    </div>
    <div class="mb-3 form-floating element-size">
      <input type="date" class="form-control w-50" name="studentDOB" [(ngModel)]="editedStudent.dateOfBirth"
        placeholder="Date Of Birth">
      <label>Age</label>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary me-3" type="button" (click)="saveEdit(editedStudent.id)">Save</button>
      <button class="btn btn-primary me-3" type="button" (click)="cancelEdit()">Cancel</button>
    </div>
  </div>
</div>